@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@font-face {
  font-family: 'Blender Pro';
  src: url('/fonts/blender_pro/BlenderPro-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('/fonts/blender_pro/BlenderPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('/fonts/blender_pro/BlenderPro-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('/fonts/blender_pro/BlenderPro-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('/fonts/blender_pro/BlenderPro-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Blender Pro', sans-serif;
  @apply bg-black
}

.after-link-line {
  position: relative;
  display: inline-block;
}

.after-link-line::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.after-link-line:hover::after {
  width: 100%;
}

/* Estilo para el thumb de la scrollbar */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #000;
  /* color azul */
  border-radius: 9999px;
  /* completamente redondeado */
}

/* Estilo para la pista de la scrollbar */
.scrollbar::-webkit-scrollbar-track {
  background-color: #cccccc;
  /* color azul más claro */
  border-radius: 9999px;
  /* completamente redondeado */

}

/* Ancho de la scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  /* 2 (8px) */
}

/* Comportamiento de desplazamiento para dispositivos táctiles */
.scrollbar {
  -webkit-overflow-scrolling: touch;
}

.mask-image {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}