@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@font-face {
  font-family: 'Blender Pro';
  src: url('/fonts/blender_pro/BlenderPro-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('/fonts/blender_pro/BlenderPro-Medum.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('/fonts/blender_pro/BlenderPro-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('/fonts/blender_pro/BlenderPro-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src: url('/fonts/blender_pro/BlenderPro-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: 'Blender Pro', sans-serif;
}

.after-link-line {
  position: relative;
  display: inline-block;
}

.after-link-line::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}

.after-link-line:hover::after {
  width: 100%;
}

